:root{
--cor-de-fundo: #9c0d00;
---branco: #fff;
--font-principal: "poppins";
--font-secundaria:"josefin sans";
--preto: hsla(0, 0%, 0%, 0.899);


} 
 .cabecalho{
    color: #4a0266;
 display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

